@CHARSET "ISO-8859-1";
#headerdiv
{
border:solid 1px red;
width:100%;
height:20%;
}
#menudiv
{
border:solid 1px red;
width:100%;
height:10%;
}
#linkdiv
{
border:solid 1px red;
float:left;
position:relative;
width:25%;
height:59%;
}
#contentdiv
{
border:solid 1px red;
margin-left:25%;
width:75%;
height:59%;

}
#footerdiv
{
border:solid 1px red;
width:100%;
height:10%;
}