BODY {
	color:#000000; margin-top:2px; margin-left:2px; margin-right:2px; margin-bottom:2px; font-size:10pt; font-family: Arial, sans-serif;
}
.content-area {
	
	background: -webkit-gradient(linear, left top, left bottom, from(#e6c6d5), to(#6D7B8D)); 
	background-color: #e6c6d5;
}
.header {
	background-color: #ffffff;
}
.nav_head {
	background-color: #f3001e;
}
.nav_top {
	background-color: #eeeeee;
}
.nav_top2 {
	background-color: #ffffff;
}
.nav_top3 {
	background-color: #ffffff;
}
.nav_side {
	background-color: #ffffff;
}
.footer {
	background-color: #f3001e;
}
.side {
	background-color: #ffffff;
}
.nav {
	background-color: #ffffff;
}
.nav_footer {
	background-color: #ffffff;
}
A:link {
	color: #0033cc;	text-decoration: none;
}
A:hover {
	color: #0033cc;	text-decoration: underline;
}
A:visited {
	color: #ca0000;	text-decoration: none;
}
.hover {
	color: #0033cc;	text-decoration: underline;
}
.link {
	color: #0033cc;	text-decoration: none;
}
.visited {
	color: #669999;	text-decoration: none;
}
h1 {
	font-weight: normal; font-size: 35px}
h2 {
	font-weight: normal; font-size: 25px
}
h3 {
	font-weight: normal; font-size: 22px
}
h4 {
	font-weight: normal; font-size: 18px
}
hr {
	color: #666666;
}
.nav-h-normal {
	padding-left : 8px;
	padding-right : 8px;
	color: #ffffff;
	font-size: 9pt;
	font-weight: bold;
	background-color: #999999;
	border-style : solid solid solid solid;
	border-width : 1px 1px 1px 1px;
	border-color : #eeeeee #666666 #666666 #eeeeee;
}
.nav-h-normal A:link{
	color: #ffffff;
	font-size: 9pt;
	background-color: #999999;
}

.nav-h-normal A:visited{
	color: #ffffff;
	font-size: 9pt;
	background-color: #999999;
}

.nav-h-normal A:hover{
	color: #cc6600;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #999999;
}
.nav-h-group {
	padding-left : 20px;
	padding-right : 8px;
	color: #ffffff;
	font-size: 9pt;
	font-weight: bold; 
	background-color: #999999;
	border-style : none none none none;
	border-width : 1px 1px 1px 1px;
}
.nav-h-highlighted {
	padding-left : 8px;
	padding-right : 8px;
	color: #cc6600;
	font-size: 9pt;
	font-weight: bold;
	background-color: #ffffff;
	border-style : solid solid solid solid;
	border-width : 1px 1px 1px 1px;
	border-color : #666666 #eeeeee #eeeeee #666666;
}
.nav-h-highlighted A:link{
	color: #cc6600;
	font-size: 9pt;
	background-color: #ffffff;
}
.nav-h-highlighted A:visited{
	color: #cc6600;
	font-size: 9pt;
	background-color: #ffffff;
}
.nav-h-highlighted A:hover{
	color: #cc6600;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #ffffff;
}
.nav-t-normal {
	padding-left : 8px;
	padding-right : 8px;
	color: #000000;
	font-size: 9pt;
	background-color: #eeeeee;
	border-style : solid solid solid solid;
	border-width : 3px 1px 3px 1px;
	border-color : #eeeeee #eeeeee #eeeeee #eeeeee;
}
.nav-t-group {
	padding-left : 25px;
	padding-right : 8px;
	color: #000000;
	font-size: 9pt;
	background-color: #eeeeee;
	border-style : solid solid solid solid;
	border-width : 3px 1px 3px 1px;
	border-color : #eeeeee #eeeeee #eeeeee #eeeeee;
}
.nav-t-normal A:link{
	color: #000000;
	font-size: 9pt;
	background-color: #eeeeee;
}
.nav-t-normal A:visited{
	color: #000000;
	font-size: 9pt;
	background-color: #eeeeee;
}
.nav-t-normal A:hover{
	color: #cc6600;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #eeeeee;
}
.nav-t-highlighted {
	padding-left : 8px;
	padding-right : 8px;
	color: #cc6600;
	font-size: 9pt;
	background-color: #ffffff;
	border-style : solid solid solid solid;
	border-width : 3px 0px 3px 0px;
	border-color : #eeeeee #ffffff #ffffff #ffffff;
}
.nav-t-highlighted A:link{
	color: #cc6600;
	font-size: 9pt;
	background-color: #ffffff;
}
.nav-t-highlighted A:visited{
	color: #cc6600;
	font-size: 9pt;
	background-color: #ffffff;
}
.nav-t-highlighted A:hover{
	color: #cc6600;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #ffffff;
}
.nav-t2-normal {
	padding-left : 8px;
	padding-right : 8px;
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
	border-style : solid solid solid solid;
	border-width : 1px 1px 1px 1px;
	border-color : #ffffff #ffffff #999999 #ffffff;
}
.nav-t2-normal A:link{
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
}

.nav-t2-normal A:visited{
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
}
.nav-t2-normal A:hover{
	color: #cc6600;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #ffffff;
}
.nav-t2-highlighted {
	padding-left : 8px;
	padding-right : 8px;
	color: #cc6600;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
	background-color: #ffffff;
	border-style : solid;
	border-width : 1px 1px 1px 1px;
	border-color : #999999 #999999 #ffffff #999999;
}
.nav-t2-highlighted A:link{
	color: #cc6600;
	font-size: 9pt;
	background-color: #ffffff;
}
.nav-t2-highlighted A:visited{
	color: #cc6600;
	font-size: 9pt;
	background-color: #ffffff;
}
.nav-t2-highlighted A:hover{
	color: #cc6600;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #ffffff;
}
.nav-t3-group {
	padding-left : 25px;
	padding-right : 8px;
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
	border-style : solid solid solid solid;
	border-width : 1px 1px 1px 1px;
	border-color : #ffffff #ffffff #ffffff #999999;
}
.nav-t3-normal {
	padding-left : 8px;
	padding-right : 8px;
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
	border-style : solid solid solid solid;
	border-width : 1px 1px 1px 1px;
	border-color : #ffffff #ffffff #ffffff #999999;
}
.nav-t3-normal A:link{
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
}
.nav-t3-normal A:visited{
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
}
.nav-t3-normal A:hover{
	color: #cc6600;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #ffffff;
}
.nav-t3-highlighted {
	padding-left : 8px;
	padding-right : 8px;
	color: #cc6600;
	font-size: 9pt;
	font-weight: bold;
	background-color: #ffffff;
	border-style : solid;
	border-width : 1px 1px 1px 1px;
	border-color : #ffffff #ffffff #ffffff #999999;
}
.nav-t3-highlighted A:link{
	color: #cc6600;
	font-size: 9pt;
	background-color: #ffffff;
}
.nav-t3-highlighted A:visited{
	color: #cc6600;
	font-size: 9pt;
	background-color: #ffffff;
}
.nav-t3-highlighted A:hover{
	color: #cc6600;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #ffffff;
}
.nav-s-normal {
	padding-left : 8px;
	padding-right : 8px;
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
	border-style : solid solid solid solid;
	border-width : 1px 1px 1px 1px;
	border-color : #ffffff #ffffff #999999 #ffffff;
}
.nav-s-normal A:link{
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
}
.nav-s-normal A:visited{
	color: #000000;
	font-size: 9pt;
	background-color: #ffffff;
}
.nav-s-normal A:hover{
	color: #000066;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #ffffff;
}
.nav-s-highlighted {
	padding-left : 8px;
	padding-right : 8px;
	color: #000066;
	font-size: 9pt;
	font-weight: bold;
	background-color: #ffffff;
	border-style : solid;
	border-width : 1px 1px 1px 1px;
	border-color : #ffffff #ffffff #999999 #ffffff;
}
.nav-s-highlighted A:link{
	color: #000066;
	font-size: 9pt;
	background-color: #ffffff;
}
.nav-s-highlighted A:visited{
	color: #000066;
	font-size: 9pt;
	background-color: #ffffff;
}
.nav-s-highlighted A:hover{
	color: #000066;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #ffffff;
}
.nav-f-group {
	padding-left : 30px;
	padding-right : 8px;
	color: #ffffff;
	font-size: 9pt;
	background-color: #999999;
	border-style : solid solid solid solid;
	border-width : 1px 1px 1px 1px;
	border-color : #999999 #999999 #999999 #999999;
}
.nav-f-normal {
	padding-left : 8px;
	padding-right : 8px;
	color: #ffffff;
	font-size: 9pt;
	background-color: #999999;
	border-style : solid solid solid solid;
	border-width : 1px 1px 1px 1px;
	border-color : #999999 #999999 #999999 #999999;
}
.nav-f-normal A:link{
	color: #000000;
	font-size: 9pt;
	background-color: #999999;
}
.nav-f-normal A:visited{
	color: #000000;
	font-size: 9pt;
	background-color: #999999;
}
.nav-f-normal A:hover{
	color: #ff6600;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #999999;
}
.nav-f-highlighted {
	padding-left : 8px;
	padding-right : 8px;
	color: #ff6600;
	font-size: 9pt;
	background-color: #999999;
	border-style : solid;
	border-width : 1px 1px 1px 1px;
	border-color : #999999 #999999 #999999 #999999;
}
.nav-f-highlighted A:link{
	color: #ff6600;
	font-size: 9pt;
	background-color: #999999;
}
.nav-f-highlighted A:visited{
	color: #ff6600;
	font-size: 9pt;
	text-decoration: none;
	background-color: #999999;
}
.nav-f-highlighted A:hover{
	color: #ff6600;
	font-size: 9pt;
	text-decoration: underline;
	background-color: #999999;
}
